<h1><%= @project.name %></h1>

<ul>
  <% @project.todos.each do |todo| %>
    <li>
      <%= todo.name %>
      <% if todo.completed %>✅<% end %>
    </li>
  <% end %>
</ul>

<%= button_to "Delete Project", project_path(@project), method: :delete %>
